* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;

}

.button {
    border-radius: 5px;
    background: #E55473;
    display: inline-flex;
    padding: 15px 43px;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 0px;

}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 600px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.commonTitle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

/* Nav section style */
.navSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(30, 227, 241, 0.74);
    padding: 10px 20px 10px 60px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.subTitle {
    color: red;
}

.listItem,
.list {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: normal;
}

.headerSection {
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 50px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    padding: 197px 97px 0px 240px;

}

.headerRightSide {}

.headerTitle {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.hotItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 215px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.socialIItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 128px;
    margin-bottom: 48px;

}

.flowerList {
    display: flex;
    justify-content: center;

}

.someFlowres {
    gap: 100px;
    padding: 12px;
}

.latestDeal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/Rectangle\ 9.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
}

.deals {
    margin-top: 200px;
    text-align: center;
}

.input {
    padding: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe {
    margin-top: 15px;
}

.footerSection {

    height: 449px;
    background: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;

}

.footerTitle {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.footerSubTitle {
    color: #E55473;
}

.footerDescription {
    color: white;
    max-width: 500px;
    margin-top: 20px;
}

.footerLast {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
}